<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../assets/stylesheets/application.css">
  <link rel="stylesheet" href="../../assets/stylesheets/normalize.css">
  <!--[if lt IE 9]>
	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
  <![endif]-->
  <title>Site Cadastro de Atividades</title>
</head>
<body>
  <main>
    <div class="bg-header">
      <header>
        <nav class="topnav" id="myTopnav">
          <ul>
            <div class="menu-esquerda">
              <li class="logo">
                <b>DEV</b>MEDIA
              </li>
            </div>
            <div class="menu-responsivo">
              <li>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
              </li>
            </div>
            <div class="menu-direita">
              <li>
                <a href="">Cadastrar Tarefa</a>
              </li>
              <li>
                <a href="">Excluir Tarefa</a>
              </li>
              <li>
                <a href="">Exibir Tarefas</a>
              </li>
              <li>
                <form action="" method="get">
                  <div class="fg--search">
                    <input type="text" class="input" placeholder="Buscar Tarefa">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </div>
                </form>
              </li>
            </div>
           
            
          </ul>
        </nav>
        <div style="clear: both;" ></div>
      </header>
    </div>
  </main>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>
</html>